.burger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger__label {
  display: none;
}

.burger__icon {
  width: 32px;
  height: 32px;

  background-image: url('../../src/images/Icon-Burger-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.4s;
}

.burger__icon:hover {
  background-image: url('../../src/images/Icon-Burger-menu-hover.svg');
}
