@use '../utils/mixins' as *;

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  gap: 48px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;

  @media (min-width: 744px) {
    padding: 0 120px;
  }

  // @media (min-width: 1020px) {
  //   @include desktop();
  //   padding: 0;
  // }

  // &__par {
  //     @media (min-width: 1020px) {
  //       grid-column: 5 / 9;
  //   }
  // }

  &__wrapper {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // gap: 48px;
    // align-items: flex-start;
    // width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;

    @media (min-width: 1020px) {
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 0;
    overflow: hidden;
  }

  &__photo {
    width: 100%;
    max-width: 392px;
    height: auto;
    aspect-ratio: 392 / 320;
    object-fit: cover;
    display: block;
    transition: all 0.3s;
  }

  &__photo:hover {
    transform: scale(1.1);
  }

  &__red {
    margin-top: 32px;
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    color: #d12d35;
  }

  &__black {
    font-family: Roboto, sans-serif;
    margin-top: 4px;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    color: #161616;
    line-height: 27px;
  }
}
