@use '../utils/mixins.scss' as *;

.explore {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 176px;
    gap: 48px;

    // @media (min-width: 1020px) {
    //   @include desktop();
    //   padding: 0;
    // }

    // &__par {
    //     @media (min-width: 1020px) {
    //       grid-column: 5 / 9;
    //   }
    // }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 48px;
      align-items: flex-start;

      @media (min-width: 1020px) {
          grid-column: 1 / -1;
          flex-direction: row;
          justify-content: space-between;
      }
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        @media (min-width: 1020px) {
        width: 392px;
        }

    }

    &__photo {
        height: 320px;
        width: 392px;
        object-fit: cover;
    }

    &__red {
        margin-top: 32px;
            font-weight: 700;
            font-style: bold;
            font-size: 24px;
            color: #D12D35;
    }

    &__black {
            margin-top: 4px;
            font-weight: 400;
            font-style: regular;
            font-size: 16px;
            color: #161616;
    }
}
