.footer {
    margin-top: 156px;
    height: 359px;
    background-image: url('/src/images/photos/footer.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
