@mixin visually-hidden() {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__par {
    margin-top: 140px;
  }

  &__wrapper {
    padding: 48px 72px;
    display: flex;
    flex-direction: column;
    gap: 72px;

    @media (min-width: 744px) {
      flex-direction: row;
    }
  }
}

.section-left {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.address {
  &__bold {
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    text-decoration: none;
    color: black;
    transform: all 0.3s;

    &--margin1 {
      margin-bottom: 16px;
    }

    &--margin2 {
      margin-bottom: 16px;
    }
  }

  &__bold:hover {
    color: #d12d35;
  }

  &__content {
    font-weight: 400;
    font-style: regular;
    font-size: 14px;

    &--margin {
      margin-bottom: 8px;
      margin-top: 8px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 288px;
  gap: 16px;

  &__input {
    background-color: #f8f8fa;
    font-family: Cinzel, serif;
    font-size: 14px;
    font-style: regular;
    font-weight: 400;
    border: 0;
    width: 100%;
    padding: 0;
    height: 48px;
    line-height: 20px;
    padding-left: 17px;
    box-sizing: border-box;
  }
  &__textarea {
    background-color: #f8f8fa;
    font-family: Cinzel, serif;
    font-size: 14px;
    font-style: regular;
    font-weight: 400;
    border: 0;
    width: 100%;
    height: 144px;
    line-height: 20px;
    padding-left: 17px;
    box-sizing: border-box;
  }
  &__button {
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d12d35;
    color: white;
    text-align: center;
    border: 0;
    font-family: Cinzel, serif;
    margin-top: 16px;
  }
  &__label {
    @include visually-hidden;
  }

  &__button:hover {
    background-color: #ae1c23;
  }
}
