@use '../utils/mixins' as *;

.main__section {
  display: flex;
  flex-direction: column;
  // padding: 140px 72px;
  padding: 140px 20px;
  gap: 32px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 450px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 64px;
  }
}

.par {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 45px;
  text-align: center;
  color: #161616;

  grid-column: span 6;

  &__element {
    &--front {
      font-size: 12px;
      color: #d12d35;
      text-align: start;
    }

    &--secondary {
      // font-size: 48px;
      font-size: 30px;
      color: #161616;
      text-align: start;

    @media (min-width: 1020px) {
      font-size: 48px;
    }

    }
  }

  &-description {
    font-size: 16px;
    font-weight: 400;
    font-style: regular;
    margin-top: 8px;
    text-align: center;
  }
}

.hours {
  display: flex;
  flex-direction: column;
  gap: 24px;

  grid-column: 7 / 12;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
  }

  &__time {
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
  }

  &__days {
    font-size: 16px;
    font-weight: 400;
    font-style: regular;
  }
}

.main__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1260px;
  padding: 0 120px;
  box-sizing: border-box;

  @media (max-width: 1020px) {
    padding: 0 72px;
  }

  @media (max-width: 744px) {
    padding: 0 20px;
  }
}

.photos {
  flex-direction: column;
  display: flex;

  // padding: 48px 72px;
  padding: 48px 0;
  gap: 48px;

  &__text {
    margin-top: 24px;
    line-height: 27px;
    &-item--red {
      font-weight: 700;
      font-style: bold;
      font-size: 16px;
      color: #d12d35;
    }

    &-item--black {
      font-weight: 400;
      font-style: regular;
      font-size: 16px;
      color: #161616;
    }
  }
}

.section-one {
  height: 100%;
  &__wrapper {
    display: flex;
    gap: 24px;
    // height: 130px;
    overflow: hidden;

    @media (min-width: 450px) {
      // height: 320px;
    }
  }

  &__photo--left {
    width: calc(50% - 12px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 0.3s;
  }

  &__photo--left:hover {
    transform: scale(1.1);
  }

  &__photo--right {
    width: calc(50% - 12px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 0.3s;
  }
  &__photo--right:hover {
    transform: scale(1.1);
  }

  @media (min-width: 744px) {
    &__photo--left {
      width: calc(65% - 12px);
      aspect-ratio: 392 / 186;
      object-fit: cover;
    }

    &__photo--right {
      width: calc(35% - 12px);
      object-fit: cover;
    }
  }
}

.section-two {
  height: 100%;
  &__wrapper {
    display: flex;
    gap: 8px;
    // height: 130px;

    // height: 100px;
    overflow: hidden;

    @media (min-width: 450px) {
      // height: 320px;
      gap: 24px;
    }
  }

  &__photo--left {
    width: calc(33% - 2.6px);
    object-fit: cover;
    transition: transform 0.3s;
    aspect-ratio: 1 / 1;

    @media (min-width: 450px) {
      width: calc(50% - 12px);

    }
  }

  &__photo--left:hover {
    transform: scale(1.1);
  }

  &__photo--right {
    width: calc(33% - 2.6px);
    object-fit: cover;
    transition: transform 0.3s;
    aspect-ratio: 1 / 1;

    @media (min-width: 450px) {
        width: calc(50% - 12px);
    }

  }
  &__photo--right:hover {
    transform: scale(1.1);
  }

  &__photo--mobile {
    width: calc(33% - 2.6px);
    object-fit: cover;
    transition: transform 0.3s;
    aspect-ratio: 1 / 1;

    @media (min-width: 450px) {
      height: 0px;
      width: 0px;
      overflow: hidden;
    }
  }

  &__photo--mobile:hover {
    transform: scale(1.1);
  }
}

.section-three {
  height: 100%;
  &__wrapper {
    display: flex;
    gap: 24px;
    // height: 130px;

    // height: 186px;
    overflow: hidden;

    @media (min-width: 450px) {
      // height: 320px;
    }
  }

  &__photo--left {
    width: calc(50% - 12px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 0.3s;
  }
  &__photo--left:hover {
    transform: scale(1.1);
  }

  &__photo--right {
    width: calc(50% - 12px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: right;
    overflow: inherit;
  }

  &__photo--right:hover {
    transform: scale(1.1);
  }

  @media (min-width: 744px) {
    &__photo--left {
      width: calc(35% - 12px);
      object-fit: cover;
    }

    &__photo--right {
      width: calc(65% - 12px);
      aspect-ratio: 392 / 186;
      object-fit: cover;
      object-position: right;
    }
  }
}

.exhibit-button {
  margin: 0 auto;
  margin-bottom: 140px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d12d35;
  width: 100%;
  max-width: 392px;
  height: 56px;

  &__text {
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    color: white;
  }
}

.exhibit-button:hover {
  background-color: #ae1c23;
}
