@use '../utils/mixins' as *;

.menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  background-color: #d12d35;
  color: white;
  padding: 32px 72px;
  min-height: 320px;
  height: 840px;
  box-sizing: border-box;
  align-content: start;
  overflow: hidden;

  @include desktop;

  &:target {
    transform: translateX(0);
    overflow: hidden;
  }

  &__navigation {
    grid-column: 1 / -1;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }

  &__logo {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }

  &__name {
    font-size: 25px;
    font-weight: 700;
  }

  &__elements {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    grid-column: 1 / -1;
  }

  &__link {
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
  }

  &__contacts {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-column: 1 / -1;

    @media (min-width: 1020px) {
      margin: 0;
    }
  }

  &__contact {
    font-weight: 600;
    font-style: medium;
    font-size: 16px;
  }

  &__number {
    font-weight: 600;
    font-style: medium;
    font-size: 16px;
  }

  &__button-order {
    margin-top: 16px;
    grid-column: 1 / -1;

    @media (min-width: 1020px) {
      margin: 0;
    }
  }
}
