.explore {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 176px;
  gap: 48px;
}
.explore__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 392px;
  text-align: center;
}
.explore__photo {
  height: 387px;
  width: 392px;
  object-fit: cover;
}
.explore__red {
  margin-top: 32px;
  font-weight: 700;
  font-style: bold;
  font-size: 24px;
  color: #D12D35;
}
.explore__black {
  margin-top: 4px;
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  color: #161616;
}

.footer {
  margin-top: 156px;
  height: 359px;
  background-image: url("/src/images/photos/footer.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__par {
  margin-top: 140px;
}
.contact__wrapper {
  padding: 48px 72px;
  display: flex;
  gap: 72px;
}

.section-left {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.address__bold {
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
}
.address__bold--margin1 {
  margin-bottom: 16px;
}
.address__bold--margin2 {
  margin-bottom: 8px;
}
.address__content {
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
}
.address__content--margin {
  margin-bottom: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 288px;
  gap: 16px;
}
.form__input {
  background-color: #F8F8FA;
  font-family: Cinzel, serif;
  font-size: 14px;
  font-style: regular;
  font-weight: 400;
  border: 0;
  width: 100%;
  padding: 0;
  height: 48px;
  line-height: 20px;
  padding-left: 17px;
  box-sizing: border-box;
}
.form__textarea {
  background-color: #F8F8FA;
  font-family: Cinzel, serif;
  font-size: 14px;
  font-style: regular;
  font-weight: 400;
  border: 0;
  font-family: Cinzel, serif;
  width: 100%;
  height: 144px;
  line-height: 20px;
  padding-left: 17px;
  box-sizing: border-box;
}
.form__button {
  font-family: Cinzel, serif;
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AE1C23;
  color: white;
  text-align: center;
  border: 0;
  font-family: Cinzel, serif;
  margin-top: 16px;
}
.form__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  background-image: url("/src/images/photos/main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  max-height: 840px;
}
@media (min-width: 1020px) {
  .header {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    grid-template-rows: auto 1fr;
    gap: 0 24px;
    justify-content: center;
  }
  .header__navigation {
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 100%;
  }
  .header__title {
    text-align: center;
    grid-column: 4/10;
    align-self: start;
  }
}
.header__title {
  margin-top: 83px;
}

.main__section {
  display: flex;
  justify-content: space-between;
  padding: 140px 72px;
}
@media (min-width: 1020px) {
  .main__section {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }
}

.par {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  text-align: center;
  color: #161616;
  grid-column: span 3;
}
.par__element--front {
  font-size: 12px;
  color: #D12D35;
  text-align: start;
}
.par__element--secondary {
  font-size: 48px;
  color: #161616;
  text-align: start;
}
.par-description {
  font-size: 16px;
  font-weight: 400;
  font-style: regular;
  margin-top: 8px;
  text-align: center;
}

.hours {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 7/12;
}
.hours__block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hours__title {
  font-size: 24px;
  font-weight: 700;
  font-style: bold;
}
.hours__time {
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
}
.hours__days {
  font-size: 16px;
  font-weight: 400;
  font-style: regular;
}

.photos {
  flex-direction: column;
  display: flex;
  padding: 48px 72px;
  gap: 48px;
}
.photos__text {
  margin-top: 24px;
}
.photos__text-item--red {
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  color: #D12D35;
}
.photos__text-item--black {
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  color: #161616;
}

.section-one__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  height: 186px;
}
.section-one__photo--left {
  width: 65%;
  object-fit: cover;
}
.section-one__photo--right {
  width: 35%;
  object-fit: cover;
}

.section-two__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  height: 284px;
}
.section-two__photo--left {
  width: 50%;
  object-fit: cover;
}
.section-two__photo--right {
  width: 50%;
  object-fit: cover;
}

.section-three__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  height: 186px;
}
.section-three__photo--left {
  width: 35%;
  object-fit: cover;
}
.section-three__photo--right {
  width: 65%;
  object-fit: cover;
  object-position: 0 25%;
}

.exhibit-button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D12D35;
  width: 392px;
  height: 56px;
}
.exhibit-button__text {
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  color: white;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  background-color: #d12d35;
  color: white;
  padding: 32px 72px;
  min-height: 320px;
  height: 840px;
  box-sizing: border-box;
}
.menu:target {
  transform: translateX(0);
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.menu__logo {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
}
.menu__name {
  font-size: 25px;
  font-weight: 700;
}
.menu__elements {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu__link {
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  color: #FFFFFF;
  text-decoration: none;
}
.menu__contacts {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu__contact {
  font-weight: 600;
  font-style: medium;
  font-size: 16px;
}
.menu__number {
  font-weight: 600;
  font-style: medium;
  font-size: 16px;
}
.menu__button-order {
  margin-top: 16px;
}

.navigation {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navigation__logo {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  padding-left: 150px;
}
@media (min-width: 320px) {
  .navigation__logo {
    padding-left: 50px;
  }
}
.navigation__icons {
  display: flex;
  gap: 55px;
  padding-right: 150px;
}
@media (min-width: 320px) {
  .navigation__icons {
    padding-right: 50px;
  }
}
.navigation__icon {
  width: 32px;
  height: 32px;
}
@media (min-width: 1020px) {
  .navigation {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    align-items: center;
  }
  .navigation__logo {
    grid-column: 1/3;
    padding: 0;
  }
  .navigation__icons {
    grid-column: 11/13;
    justify-self: end;
    display: flex;
    gap: 24px;
    padding: 0;
  }
}

.title {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  text-align: center;
  color: white;
}
.title--front {
  font-size: 12px;
  color: #D12D35;
  text-align: start;
}
.title--secondary {
  font-size: 48px;
  color: #161616;
  text-align: start;
}

.button-order {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.button-order__link {
  font-weight: 500;
  font-style: medium;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
}
.button-order__line {
  width: 123px;
  height: 1px;
  background-color: #FFFFFF;
}

.burger {
  display: inline-block;
}
.burger::before {
  content: "";
  background-image: url(./src/icons/Icon-Burger-menu.svg);
  background-size: cover;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.burger::after {
  display: none;
  content: "";
  background-image: url(./src/icons/Icon-Burger-menu-hover.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
}
.burger:hover::before {
  display: none;
}
.burger:hover::after {
  display: inline-block;
}
.burger__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mobile {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  position: absolute;
  transform: translateX(calc(-100% - 20px));
}
.mobile__contact {
  font-weight: 600;
  font-style: medium;
  font-size: 16px;
}
.mobile__number {
  font-weight: 600;
  font-style: medium;
  font-size: 16px;
}
.mobile__topic {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mobile:not(:hover) .mobile__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Cinzel, serif;
  text-transform: capitalize;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=styles.css.map */
